version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_mom
    ports:
      # porta padrão para o protocolo AMQP (comunicação do pika)
      - "5672:5672"
      # porta para a interface web de gerenciamento
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
